@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1285px !important;
        max-width: 1285px !important;
        margin: 0 auto;
    }
}

h3 {
    font-size: 25px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    list-style: none;
}

ul,
li {
    margin: 0;
    list-style: none;
    padding: 0;
}

strong {
    font-weight: bold !important;
    font-size: 16px !important;
}

html,
body {
    width: 100%;
    list-style: none;
    font-size: 14px !important;
    font-weight: 300 !important;
    overflow-x: hidden;
    color: #333;
    background: #212129;
}

.top_header {
    background-color: #e8a000 !important;
    height: 40px;
    border: 1px solid #eeede7;
    font-size: 14px;
}


/* .bg-warning
            {
                background-color: #e8a000!important;
            } */

.tb_left ul {
    display: flex;
}

.tb_left li {
    color: wheat;
    float: left;
    padding: 11px 0;
    cursor: pointer;
    text-decoration: none !important;
    list-style: none !important;
}

.tb_left li .tbr-info a {
    color: #fff !important;
    padding: 0px 15px;
    display: table;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px !important;
    border-right: 1px solid rgb(182, 182, 182) !important;
    transition: 0.5s;
}

.tb_left li .tbr-info a:hover {
    color: #4e228f !important;
    text-decoration: none;
}


/* top_menu right */

.tb_right .font-phone {
    font-size: 13px;
    font-weight: 600;
    /* margin-right: 3px;
    padding-right: 30px; */
}

.tb_right .font-email {
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
}

.tb_right {
    display: flex;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}


/* middle_menu */


/* .middle-menu{

            } */

.logo img {
    max-width: 100%;
    width: 200;
}

.main_menu {
    display: flex;
}

.main_menu li a {
    padding: 15px 12px;
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav .nav-item a {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 9px 14px;
}

.navbar-nav .dropdown button {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 16px 17px;
}

.navbar-nav .dropdown button:focus {
    border: none !important;
    outline: none !important;
}

.navbar-nav .nav-item a {
    color: #333 !important;
    font-size: 14px;
    text-transform: uppercase !important;
    font-weight: 500;
    line-height: 30px;
    transition: 0.5s;
    margin-bottom: -20px;
}

.navbar-nav .nav-item-1 .dropdown {
    position: relative;
    z-index: 1;
    display: inline-block;
    z-index: 11111;
}

.navbar-nav .nav-item .dropdown-content {
    opacity: 0;
    position: absolute;
    min-width: 244px;
    top: -9px;
    left: 12px;
    z-index: 1;
    height: 0;
    transition: 0.5s;
}

.navbar-nav .nav-item .dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(185, 185, 185, 0.4);
    background-color: #e8a000;
    padding: 12px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    border-radius: 20px;
    transition: ease-in-out 0.5s all;
}

.navbar-nav .nav-item .dropdown-content a:hover {
    /* padding-left: 1.2rem; */
    background-color: rgb(201, 92, 4);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
}


/* content_middle */


/* Khung  2 lop*/

.wrapper_left {
    /* border:2px double; */
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
}

.wrapper_left img {
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
}


/* search */

::selection {
    background: #212129;
}

.search-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 89%;
}

.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 70px;
    width: 70px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder {
    width: 371px;
    height: 50px;
    border-radius: 50px;
    background: rgb(215 186 110);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width: 100%;
    height: 50px;
    padding: 0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: -9px;
    left: 0px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background: #FFF;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
    width: 20px;
    height: 20px;
    margin: 14px;
    border-radius: 30px;
}

.search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content: '';
}

.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 8px;
    top: 17px;
    border-radius: 2px;
    background: #acacac;
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 5px;
    top: 1px;
    border-radius: 16px;
    border: 4px solid #474747;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}

.search-wrapper.active .close {
    right: -50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}

.search-wrapper .close::before,
.search-wrapper .close::after {
    position: absolute;
    content: '';
    background: #FE5F55;
    border-radius: 2px;
}

.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: -4px;
    top: 0px;
}

.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: -14px;
    top: 10px;
}


/*  */


/* wrapper_right */

.wrapper_right {
    margin-top: 7px;
}

.wrapper_right h2 {
    font-size: 30px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    color: #1ca95a;
    font-style: italic;
}

.btn_danger {
    background-color: #f4524d !important;
    padding: 9px 12px 9px;
    border: none;
    outline: none !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

.btn_danger:hover {
    color: #fff;
    background-color: #fe6c61;
    border: none;
    background-position: 100% 0;
    background-image: linear-gradient( to right, #f4524d 0%, #fe6c61 50%, #f4524d 100%);
}

.btn_danger a {
    background-color: #f4524d !important;
    padding: 9px 12px 9px;
    border: none;
    outline: none !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

.btn_danger:hover a {
    color: #fff;
    background-color: #fe6c61;
    border: none;
    background-position: 100% 0;
    background-image: linear-gradient( to right, #f4524d 0%, #fe6c61 50%, #f4524d 100%);
}

.wrapper_right .wgt_wrapper p {
    text-align: justify;
    color: #212529;
    font-weight: 400;
}


/* slider */

.tp-banner-container .slideshow .slider .item img {
    background-size: contain;
}


/* Middle_content_why */

.Middle_content_why {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7) !important;
    min-height: 420px !important;
}

.Middle_content_why::before {
    background-image: url("https://decalphuongnam.com/wp-content/uploads/2019/12/background-content.jpg");
    content: "";
    opacity: 0.6!important;
    width: 100%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.khoang_cach {
    padding: 15px;
}

.Middle_content .GT_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.Middle_content .GT_column-inner .column_gt {
    width: 100% !important;
    min-height: 14px;
    background: 0 repeat-x 0 repeat-x url("data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ebebeb%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E") !important;
}

.content_img_fifuage_element .content_fifuage_icon {
    border: 1px solid gray;
    background-color: white;
    height: 204px;
    position: relative;
    max-width: 100%;
    border: none;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one i {
    color: #1e73be;
    font-size: 65px;
    letter-spacing: 2px;
    position: absolute;
    top: 18px;
    left: 109px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one h5 {
    color: #dd3333;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 132px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-20 {
    color: #dd3333;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 125px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1500 {
    color: #dd3333;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 105px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1000 {
    color: #dd3333;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 105px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_content {
    background-color: #f9b701 !important;
    padding: 13px;
    position: inherit;
    bottom: -77%;
}

.content_img_fifuage_element .content_fifuage_icon .counter_content span {
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
}

.btn-warning {
    color: #212529;
    background-color: #f9ab00 !important;
    border-color: #f9ab00 !important;
}

.font_product {
    margin-left: 10px;
}


/* product_gird cach nhiet */

.product_gird .product_item {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    height: 306px;
}

.product_gird .product_item .product_thump .img_product_bg {
    overflow: hidden !important;
}

.product_gird .product_item .product_thump .img_product {
    width: 100%;
    height: 200px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .product_item .product_thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.product_gird .product_item {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.product_gird .product_item .product_thump .product_price span {
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 1.2;
    text-decoration: none;
}


/* btn see more */

.see_more button a {
    text-decoration: none !important;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}


/*  */

.input a {
    padding: 10px 15px 10px !important;
    ;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;
}

.see_more .btn-warning i {
    margin: -2px;
}


/*  */


/* product_item_oto */

.product_gird .product_item_oto .product_thump .img_product_bg {
    overflow: hidden !important;
}

.product_gird .product_item_oto {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
    height: 290px;
}

.product_gird .product_item_oto .product_thump .img_product {
    width: 100%;
    min-height: 180px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .product_item_oto .product_thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.product_gird .product_item_oto {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_oto:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_oto .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.project-mt {
    margin-top: 30px;
}

.product_gird .product_item_oto .product_thump .product_price span {
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* decal */

.product_gird .product_item_decal .product_thump .img_product_bg {
    overflow: hidden !important;
}

.product_gird .product_item_decal {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    height: 290px;
}

.product_gird .product_item_decal .product_thump .img_product {
    width: 100%;
    min-height: 180px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .product_item_decal .product_thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.product_gird .product_item_decal {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_decal:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_decal .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.product_gird .product_item_decal .product_thump .product_price span {
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* Phan quang */

.product_gird .product_item_REFLECTIVE .product_thump .img_product_bg {
    overflow: hidden !important;
}

.product_gird .product_item_REFLECTIVE {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    height: 275px;
}

.product_gird .product_item_REFLECTIVE .product_thump .img_product {
    width: 100%;
    min-height: 180px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .product_item_REFLECTIVE .product_thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.product_gird .product_item_REFLECTIVE {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_REFLECTIVE:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_REFLECTIVE .product_thump img {
    max-width: 100%;
    height: 267px;
}

.product_gird .product_item_REFLECTIVE .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.product_gird .product_item_REFLECTIVE .product_thump .product_price span {
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* Giay dan kinh mo */

.product_gird .product_item_BlurryGlass .product_thump .img_product_bg {
    overflow: hidden !important;
}

.product_gird .product_item_BlurryGlass {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 300px;
}

.product_gird .product_item_BlurryGlass .product_thump .img_product {
    width: 100%;
    min-height: 206px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .product_item_BlurryGlass .product_thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.product_gird .product_item_BlurryGlass {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_BlurryGlass:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_BlurryGlass .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.product_gird .product_item_BlurryGlass .product_thump .product_price span {
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* Sunscreen  */

.product_gird .product_item_Sunscreen .product_thump .img_product_bg {
    overflow: hidden !important;
}

.product_gird .product_item_Sunscreen {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 300px;
}

.product_gird .product_item_Sunscreen .product_thump .img_product {
    width: 100%;
    min-height: 206px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .product_item_Sunscreen .product_thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.product_gird .product_item_Sunscreen {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_Sunscreen:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_Sunscreen .product_thump img {
    max-width: 100%;
    height: 361px !important;
}

.product_gird .product_item_Sunscreen .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.product_gird .product_item_Sunscreen .product_thump .product_price span {
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}


/* Project_Villa */

.Project_Villa .Project_item .Project_item_Thump .img_product {
    /* width: 100%; min-height: 220px;background-repeat: no-repeat; */
    width: 100%;
    min-height: 206px;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.product_gird .Project_item .Project_item_Thump:hover .img_product {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.Project_Villa .Project_item .Project_detail h4 {
    background-color: #f9ab00;
    font-size: 16px;
    text-align: center;
    padding: 15px 10px;
    font-weight: 400;
    transition: 0.5s;
}

.Project_Villa .Project_item:hover .Project_detail h4 {
    box-shadow: 0px 0px 30px #0c02021f;
}

.Advisory_thump .data-slick .news-thumb_img img {
    background-size: cover !important;
}

.Advisory_thump .data-slick .news-content {
    background-color: rgb(207 207 207) !important;
}

.Advisory_thump .data-slick .slick-prev:before,
.slick-next:before {
    top: 10px;
    left: 8px;
}

.data-slick {
    outline: none !important;
}

.slideshow {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 100%;
}

.slideshow * {
    outline: none;
}

.slideshow .slider-track {
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
    height: 100%;
    position: relative;
    z-index: 1;
}

.slideshow .item img {
    width: 100%;
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.slideshow .item.slick-active img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cssAnimation 8s 1 ease-in-out forwards;
    animation: cssAnimation 8s 1 ease-in-out forwards;
}

.text-primaryy {
    color: #003882 !important;
}

.icon_img {
    text-align: center !important;
}

@media (min-width: 375px) and (max-width: 767px) {
    /* top_menu */
    .tb_right .font-phone {
        font-size: 13px;
        font-weight: 600;
        position: absolute;
        top: 10px;
        left: 69%;
    }
    .tb_right .font-email {
        font-size: 13px;
        font-weight: 600;
        position: absolute;
        top: 9px;
        left: 9px;
    }
    .pull-left {
        display: none;
    }
    .tb_left li .tbr-info a {
        display: none;
    }
    /* search */
    .search-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 90%;
        left: 47%;
    }
    .wrapper_right h2 {
        font-size: 20px;
        font-family: "PT Serif", serif;
        font-weight: 500;
        color: #1ca95a;
        font-style: italic;
    }
    .search-wrapper.active .input-holder {
        width: 271px;
        height: 50px;
        border-radius: 50px;
        background: rgb(247 193 69);
        transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    }
    /*  */
    /* footer */
    .footer .top-content {
        max-width: 800px !important;
        margin: 0 auto !important;
        padding: 60px 0px !important;
        position: relative !important;
    }
    .footer .text-uppercase {
        color: #fff;
        font-size: 18px !important;
        margin-top: 32px !important;
        font-weight: 400 !important;
        position: absolute !important;
        top: -12%;
        left: 22%;
    }
    .footer .address input {
        width: 100% !important;
        padding: 6px !important;
        color: #6c757d !important;
        outline: none !important;
        border: none !important;
        border-radius: 10px !important;
        position: absolute !important;
        top: -6px !important;
        left: 0px !important;
    }
    .input_gui {
        position: absolute;
        top: 7px;
        left: 43%;
    }
    .see_more {
        position: relative;
    }
    .footer .send input {
        padding: 5px;
        color: black;
        font-weight: 500;
    }
    /*  */
    /* Middle_content_why */
    .content_img_fifuage_element .content_fifuage_icon {
        border: 1px solid gray;
        background-color: white;
        height: 204px;
        position: relative;
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* product_gird cach nhiet */
    .product_gird .product_item {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        height: 270px;
        margin-bottom: 20px;
    }
    .product_gird .product_item .product_thump .img_product {
        width: 100%;
        height: 145px !important;
        background-size: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    /* product_item_oto */
    .product_gird .product_item_oto {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        height: 300px;
        margin-bottom: 20px;
    }
    .product_gird .product_item_oto .product_thump .img_product {
        width: 100%;
        min-height: 145px;
        background-size: cover;
        background-position: initial;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    /* decal */
    .product_gird .product_item_decal {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        height: 275px;
        margin-bottom: 20px;
    }
    .product_gird .product_item_decal .product_thump .img_product {
        width: 100%;
        min-height: 143px;
        background-size: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    /* Phan quang */
    .product_gird .product_item_REFLECTIVE {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 260px;
        margin-bottom: 20px;
    }
    .product_gird .product_item_REFLECTIVE .product_thump .img_product {
        width: 100%;
        min-height: 145px;
        background-size: cover;
        background-position: center;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    /* Giay dan kinh mo */
    .product_gird .product_item_BlurryGlass {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 260px;
        margin-bottom: 20px;
    }
    .product_gird .product_item_BlurryGlass .product_thump .img_product {
        width: 100%;
        min-height: 145px;
        background-size: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    /* Sunscreen  */
    .product_gird .product_item_Sunscreen {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 280px;
        margin-bottom: 20px;
    }
    .product_gird .product_item_Sunscreen .product_thump .img_product {
        width: 100%;
        min-height: 145px;
        background-size: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one i {
        color: #1e73be;
        font-size: 65px;
        letter-spacing: 2px;
        position: absolute;
        top: 18px;
        left: 40%;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one h5 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 47%;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-20 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 43%;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1500 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 36%;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1000 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 36%;
    }
    .bot-footer .icon {
        margin-left: 40%;
    }
    .icon {
        position: absolute !important;
        top: -40px !important;
        left: -25px !important;
    }
    .bot-footer .text-white {
        padding: 56px 0 45px !important;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    /* search */
    .search-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 52%;
        left: 70%;
    }
    .search-wrapper.active .input-holder {
        width: 265px;
        height: 50px;
        border-radius: 50px;
        background: rgba(0, 0, 0, 2);
        transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    }
    /* icon-why */
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one i {
        color: #1e73be;
        font-size: 65px;
        letter-spacing: 2px;
        position: absolute;
        top: 18px;
        left: 37px;
    }
    /*  */
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one h5 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 56px;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-20 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 47px;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1500 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 23px;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1000 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 23px;
    }
    /* product_gird cach nhiet */
    .product_gird .product_item {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 306px;
        margin-bottom: 20px;
    }
    /* product_item_oto */
    .product_gird .product_item_oto {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 317px;
        margin-bottom: 20px;
    }
    /* product_item_height_UV */
    .product_gird .product_item_height_UV {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 509px;
    }
    /* decal */
    .product_gird .product_item_decal {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 300px;
        margin-bottom: 20px;
    }
    /* Phan quang */
    .product_gird .product_item_REFLECTIVE {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 270px;
        margin-bottom: 20px;
    }
    /* Giay dan kinh mo */
    .product_gird .product_item_BlurryGlass {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 300px;
        margin-bottom: 20px;
    }
    /* Sunscreen  */
    .product_gird .product_item_Sunscreen {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 300px;
        margin-bottom: 20px;
    }
    .project-mt {
        margin-top: 20px;
    }
}

.Advisory_thump .data-slick .slick-prev,
.Advisory_thump .data-slick .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: unset;
    height: unset;
    padding: 0;
    border: none;
    outline: none;
    background-color: #265ca8;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid gray !important;
}

.Advisory_thump .data-slick .news-content h4 {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.Advisory_thump .data-slick .news-content p {
    font-size: 14px !important;
    color: #333 !important;
    font-weight: 400;
}


/* footer */

.empty-space {
    height: 35px;
}

.footer {
    background-color: #1e73be;
}

.footer .top-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0px;
}

.footer .text-uppercase {
    color: #fff;
    font-size: 18px;
    margin-top: 32px;
    font-weight: 400;
}

.footer .address input {
    width: 100%;
    padding: 6px;
    color: #6c757d;
    outline: none;
    border: none;
    position: absolute;
    top: 28px;
    left: 0px;
}

.footer .send input {
    padding: 5px;
    color: black;
    font-weight: 500;
}

.wrapper {
    background-color: #003882 !important;
}

.wrapper .row {
    max-width: 1285px;
    margin: auto;
}

.wrapper .container {
    padding-bottom: 70px;
}

.wrapper .title {
    margin-top: 30px;
}

.wrapper h3 {
    font-weight: 500 !important;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px !important;
    color: #f9ab00;
}

.wrapper .tree {
    display: flex;
    margin-top: 10px;
}

.wrapper .tree .square {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #ffc107;
    display: inline-block;
}

.wrapper .tree .horizontal {
    position: relative;
    top: 50%;
    width: 70px;
    height: 5px;
    height: 2px;
    margin-top: 4px;
    margin-left: 8px;
    background-color: white;
}

.wrapper .right ul li {
    color: #ececec;
    font-weight: 400;
    margin-left: 14px;
}

.wrapper .right ul li::before {
    content: "\2022";
    color: #ffa100;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.wrapper .right ul {
    margin-top: 20px;
    line-height: 28px;
}

.wrapper p {
    color: #ececec;
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
}

.wrapper .one li {
    color: #ececec;
    font-weight: 400;
    margin-bottom: 16px;
}

.wrapper .two li {
    color: #ececec;
    font-weight: 400;
}

.wrapper .two .first {
    display: flex;
}

.wrapper .two .first i {
    margin-right: 15px;
    margin-top: 10px;
}

.wrapper .two .second {
    display: flex;
}

.wrapper .two .second i {
    margin-right: 15px;
    margin-top: -4px;
}

.wrapper .two .threed {
    display: flex;
}

.wrapper .two .threed i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one div {
    display: flex;
}

.wrapper .one i {
    width: 30px;
    height: 30px;
    border: 1px solid #003882;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: white;
    color: #888;
}

.wrapper .one .first i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one .second i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one .threed i {
    margin-right: 15px;
    margin-top: -5px;
}

.wrapper .one .four i {
    margin-right: 15px;
    margin-top: -2px;
}

.wrapper .two i {
    width: 30px;
    height: 30px;
    border: 1px solid #003882;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: white;
    color: #888;
}

.wrapper .two div {
    margin: 15px 0px;
}

.wrapper li a {
    color: #ececec;
    text-decoration: none;
}

.bot-footer {
    background-color: #343a40;
}


/* .footer .top-content .content-registration {
    font-size: 20px;
} */

.bot-footer .text-white {
    padding: 13px 0 45px;
}

.bot-footer small {
    font-size: 85%;
    font-weight: 400;
    margin-left: 31px;
    position: absolute;
    top: 20px;
}

.bot-footer .icon {
    display: flex;
    padding: 0px 10p;
    color: wheat;
    float: right;
}

.bot-footer .icon .fb i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 9px;
    background-color: #4267b2;
    color: white;
    text-align: center;
}

.bot-footer .icon .gg i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 5px;
    background-color: #db4437;
    color: white;
    text-align: center;
}

.bot-footer .icon .youtube i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 6px;
    background-color: red;
    color: white;
    text-align: center;
}

.bot-footer a {
    padding: 1px;
}

.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility 0.5s;
    left: 0;
    bottom: 0;
    display: block;
}

.hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
    background-color: #e60808;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
}

.hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
}

.text-warning {
    text-decoration: none !important;
    list-style: none !important;
}

.send {
    margin-top: -14px;
}

.address {
    position: relative;
}

.hotline-bar>a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
}

.hotline-bar>a:hover,
.hotline-bar>a:active {
    color: #fff;
}

.hotline-phone-ring-wrap .hotline-bar a {
    text-decoration: none !important;
    list-style: none;
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }
    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@media (max-width: 768px) {
    .hotline-bar {
        display: none;
    }
}

.icon-Social-Network {
    position: relative;
}

.icon {
    position: absolute;
    top: -18px;
    left: 71%;
}