@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1285px!important;
        max-width: 1285px!important;
        margin: 0 auto;
    }
}

ul,
li {
    margin: 0;
    list-style: none;
    padding: 0;
}

strong {
    font-weight: bold !important;
    font-size: 16px !important;
}

html,
body {
    width: 100%;
    list-style: none;
    font-size: 14px !important;
    /* font-weight: 300 !important; */
    overflow-x: hidden;
    color: #333;
}

.top_header {
    background-color: #e8a000!important;
    height: 40px;
    border: 1px solid #eeede7;
    font-size: 14px;
}


/* .bg-warning
{
    background-color: #e8a000!important;
} */

.tb_left ul {
    display: flex;
}

.tb_left li {
    color: wheat;
    float: left;
    padding: 11px 0;
    cursor: pointer;
    text-decoration: none !important;
    list-style: none !important;
}

.tb_left li .tbr-info a {
    color: #fff !important;
    padding: 0px 15px;
    display: table;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px !important;
    border-right: 1px solid rgb(182, 182, 182) !important;
    transition: 0.5s;
}

.tb_left li .tbr-info a:hover {
    color: #4e228f !important;
    text-decoration: none;
}


/* top_menu right */

.tb_right .font-phone {
    font-size: 13px;
    font-weight: 600;
}

.tb_right .font-email {
    font-size: 13px;
    font-weight: 600;
}

.tb_right {
    display: flex;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}


/* middle_menu */


/* .middle-menu{

} */

.logo img {
    max-width: 100%;
    width: 200;
}

.main_menu {
    display: flex;
}

.main_menu li a {
    padding: 15px 12px;
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav .nav-item a {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 9px 14px;
}

.navbar-nav .dropdown button {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 16px 17px;
}

.navbar-nav .dropdown button:focus {
    border: none !important;
    outline: none !important;
}

.navbar-nav .nav-item a {
    color: #333 !important;
    font-size: 14px;
    text-transform: uppercase !important;
    font-weight: 500;
    line-height: 30px;
    transition: 0.5s;
    margin-bottom: -20px;
}

.navbar-nav .nav-item-1 .dropdown {
    position: relative;
    z-index: 2;
    display: inline-block;
}

.navbar-nav .nav-item .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #ffffff; */
    min-width: 330px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.navbar-nav .nav-item .dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(185, 185, 185, 0.4);
    background-color: orange;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
}


/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {
    display: block;
}


/* BANNER */

.banner {
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(33, 33, 33, .8);
    display: block;
    z-index: 1;
}

.banner p {
    font-size: 25px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 2;
}


/* TITLE-CONTENT */

.title-content .d-flex {
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
}

.title-content .d-flex p {
    /* margin: 10px 0px 10px 10px; */
    padding: 9px 0px 0px 15px;
}

.title-content .d-flex p a {
    color: #dc3545;
    font-weight: 500;
}


/* PRODUCT */


/* product-left */

.product .left .content-left {
    border: 1px solid #dad7d7;
    padding: 5px;
}

.product .left .title-left h1 {
    background-color: #003882;
    padding: 7px 10px 4px;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    border-left: 5px solid #f9ab00;
}

.product .left .content-left a.viewmore {
    color: black;
}

.product .left .content-left a.viewmore:hover {
    text-decoration: none;
}

.product .left .content-left .view {
    color: #f9ab00;
    font-weight: bold;
    background-color: #e6e6e6;
    font-size: 18px;
    display: block;
    margin: -1px -5px -5px;
}

.product .left .content-left .readmore img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product .left .content-left .readmore p {
    text-align: center;
    padding-top: 15px;
    /* font-style: inherit; */
    font-style: italic;
}

.product .left .list-product .row .col-6 {
    margin-bottom: 25px;
}


/* product-right */

.product .right .title-right p {
    text-align: center;
    background-color: #f9ab00;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 4px 0;
    margin-bottom: 15px;
}

.product .right p {
    text-align: center;
    background-color: #f9ab00;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 4px 0;
    margin-bottom: 15px;
}

.product .right ul .men {
    display: block;
    padding: 10px 15px;
    border: 1px solid #2266b1;
    color: #333;
    margin-bottom: 15px;
}

.product .right ul .men:hover {
    background-color: #72afe7;
    color: white;
}

.product .right ul li a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #2266b1;
    color: #333;
    margin-bottom: 15px;
}

.product .right ul li a:hover {
    text-decoration: none;
    background-color: #72afe7;
    color: white;
}

.product .right ul ul.sub-menu {
    padding: 9px;
    margin-bottom: 15px;
    border: 1px solid #2266b1;
    border-top: 0;
    margin-top: -15px;
}

.product .right ul ul.sub-menu li a {
    border: none;
    border-bottom: 1px solid #ebebed;
}

.product .right ul ul.sub-menu li:hover {
    cursor: pointer;
}

.product .news .news-one {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.product .right .news img {
    width: 75px;
    height: 75px;
}

.product .right .news a {
    font-size: 13px;
    line-height: 17px;
    padding: 12px 5px;
    color: #333;
}

.product .right .news a:hover {
    color: #72afe7;
    text-decoration: none;
}

.product .right ul li.men:hover {
    cursor: pointer;
}

.product .right ul li a i {
    float: right;
    padding: 5px 0px;
    font-size: 10px;
    color: #2266b1;
}

#demo {
    margin-top: -28px;
}

.product .list-product {
    margin-top: 50px;
}

.product .list-product h3 {
    background-color: #a0a0a0;
    ;
    padding: 7px 10px 4px;
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    border-left: 5px solid #f9ab00;
}

.product .list-product .sanpham {
    background-color: #f7f7f7;
    border: 1px solid #dee2e6;
    padding: 5px;
}

.product .list-product .sanpham:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transition: 0.5s;
}

.product .list-product .sanpham .image {
    height: 250px;
    background-repeat: round;
}

.product .list-product .sanpham .image:hover {
    cursor: pointer;
}

.product .list-product .sanpham .title {
    font-size: 18px;
    padding: 15px 0px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .list-product .sanpham .title:hover {
    cursor: pointer;
}

.product .list-product .sanpham .title span {
    color: #404040;
}

.product .pagination ul li {
    border: 1px solid #ececec;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
}

.product .pagination ul li:hover {
    text-decoration: none;
}

.product .pagination ul li:hover {
    cursor: pointer;
}

.product .pagination ul li:nth-of-type(1) {
    background-color: #f9ab00;
}

.product .pagination ul li a {
    color: #6f31cd;
}

.product .pagination ul li a span {
    color: white;
}


/* FOOTER */

.empty-space {
    height: 35px;
}

.footer {
    background-color: #5186be;
}

.footer .top-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
}

.footer .text-uppercase {
    color: #fff;
    font-size: 18px;
    margin-top: 4px;
    font-weight: 500;
}

.footer .address input {
    width: 100%;
    padding: 6px;
    color: #6c757d;
    border-radius: 5px;
    border: none;
    outline-style: none;
}

.footer .send input {
    padding: 5px;
    color: black;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline-style: none;
}

.footer .send input:hover {
    background-color: rgb(248, 240, 236);
}

.wrapper {
    background-color: #2d3236 !important;
}

.wrapper .row {
    max-width: 1285px;
    margin: auto;
}

.wrapper .container {
    padding-bottom: 70px;
}

.wrapper .title {
    margin-top: 30px;
}

.wrapper h3 {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #f9ab00;
}

.wrapper .tree {
    display: flex;
    margin-top: 10px;
}

.wrapper .tree .square {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #ffc107;
    display: inline-block;
}

.wrapper .tree .horizontal {
    position: relative;
    top: 50%;
    width: 70px;
    height: 5px;
    height: 2px;
    margin-top: 4px;
    margin-left: 8px;
    background-color: white;
}

.wrapper .right ul li {
    color: #ececec;
    font-weight: 500;
    margin-left: 14px;
}

.wrapper .right ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.wrapper .right ul {
    margin-top: 20px;
    line-height: 28px;
}

.wrapper p {
    color: #ececec;
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
}

.wrapper .one li {
    color: #ececec;
    font-weight: 500;
    margin-bottom: 16px;
}

.wrapper .two li {
    color: #ececec;
    font-weight: 500;
}

.wrapper .two .first {
    display: flex;
}

.wrapper .two .first i {
    margin-right: 15px;
    margin-top: 10px;
}

.wrapper .two .second {
    display: flex;
}

.wrapper .two .second i {
    margin-right: 15px;
    margin-top: -4px;
}

.wrapper .two .threed {
    display: flex;
}

.wrapper .two .threed i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one div {
    display: flex;
}

.wrapper .one i {
    width: 30px;
    height: 30px;
    border: 1px solid #003882;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: white;
    color: #888;
}

.wrapper .one .first i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one .second i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one .threed i {
    margin-right: 15px;
    margin-top: -5px;
}

.wrapper .one .four i {
    margin-right: 15px;
    margin-top: -2px;
}

.wrapper .two i {
    width: 30px;
    height: 30px;
    border: 1px solid #003882;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: white;
    color: #888;
}

.wrapper .two div {
    margin: 15px 0px;
}

.wrapper li a {
    color: #ececec;
    text-decoration: none;
}

.bot-footer {
    background-color: #343a40;
}

.bot-footer .align-items-center {
    padding: 0px 23px;
}

.bot-footer .text-white {
    padding: 10px;
}

.bot-footer small {
    font-size: 85%;
    font-weight: 400;
}

.bot-footer .icon {
    display: flex;
    padding: 0px 10p;
    color: wheat;
    justify-content: center;
}

.bot-footer .icon .fb i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 9px;
    background-color: #4267B2;
    color: white;
    text-align: center;
}

.bot-footer .icon .google i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 5px;
    background-color: #db4437;
    color: white;
    text-align: center;
}

.bot-footer .icon .youtube i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 6px;
    background-color: red;
    color: white;
    text-align: center;
}

.bot-footer .icon .zalo {
    width: 33px;
    height: 33px;
    background-color: #008FE5;
    border-radius: 50%;
    padding: 4px 0px;
    margin: 1px 1px;
}

.bot-footer .icon .zalo i {
    color: white;
}

.bot-footer .icon a:hover {
    text-decoration: none;
}

.bot-footer a {
    padding: 1px;
}


/* media */

@media(min-width: 375px) and (max-width: 767px) {
    /* top_menu */
    .logo img {
        max-width: 80%;
    }
    .top_header {
        display: none;
    }
    .navbar .navbar-toggler {
        outline-style: none;
    }
    .tb_left li .tbr-info a {
        display: none;
    }
    .tb_right {
        display: block;
    }
    .banner p {
        margin: 0px 15px;
    }
    #content-left2,
    #content-left3 {
        display: none;
    }
    .product .list-product .sanpham .image {
        height: 150px;
        object-fit: cover;
    }
    .bot-footer {
        margin-top: -40px;
    }
    .bot-footer .text-white {
        padding: 10px 20px;
        border-top: 1px solid;
    }
    .wrapper .container {
        padding-left: unset;
    }
    .footer .text-uppercase,
    .address,
    .send {
        margin-bottom: 10px;
    }
}