@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 1300px) {
    .container {
        width: 1285px!important;
        max-width: 1285px!important;
        margin: 0 auto;
    }
}

ul,
li {
    margin: 0;
    list-style: none;
    padding: 0;
}

strong {
    font-weight: bold !important;
    font-size: 16px !important;
}

html,
body {
    width: 100%;
    list-style: none;
    font-size: 14px !important;
    font-weight: 300 !important;
    overflow-x: hidden;
    color: #333;
}

.top_header {
    background-color: #e8a000!important;
    height: 40px;
    border: 1px solid #eeede7;
    font-size: 14px;
}


/* .bg-warning
{
    background-color: #e8a000!important;
} */

.tb_left ul {
    display: flex;
}

.tb_left li {
    color: wheat;
    float: left;
    padding: 11px 0;
    cursor: pointer;
    text-decoration: none !important;
    list-style: none !important;
}

.tb_left li .tbr-info a {
    color: #fff !important;
    padding: 0px 15px;
    display: table;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px !important;
    border-right: 1px solid rgb(182, 182, 182) !important;
    transition: 0.5s;
}

.tb_left li .tbr-info a:hover {
    color: #4e228f !important;
    text-decoration: none;
}


/* top_menu right */

.tb_right .font-phone {
    font-size: 13px;
    font-weight: 600;
}

.tb_right .font-email {
    font-size: 13px;
    font-weight: 600;
}

.tb_right {
    display: flex;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}


/* middle_menu */


/* .middle-menu{

} */

.logo img {
    max-width: 100%;
    width: 200;
}

.main_menu {
    display: flex;
}

.main_menu li a {
    padding: 15px 12px;
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav .nav-item a {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 9px 14px;
}

.navbar-nav .dropdown button {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 16px 17px;
}

.navbar-nav .dropdown button:focus {
    border: none !important;
    outline: none !important;
}

.navbar-nav .nav-item a {
    color: #333 !important;
    font-size: 14px;
    text-transform: uppercase !important;
    font-weight: 500;
    line-height: 30px;
    transition: 0.5s;
    margin-bottom: -20px;
}

.navbar-nav .nav-item-1 .dropdown {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.navbar-nav .nav-item .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #ffffff; */
    min-width: 330px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.navbar-nav .nav-item .dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(185, 185, 185, 0.4);
    background-color: orange;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
}


/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {
    display: block;
}


/* content_middle */


/* Khung  2 lop*/

.wrapper_left {
    /* border:2px double; */
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
}

.wrapper_left img {
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
}


/* wrapper_right */

.wrapper_right {
    margin-top: 7px;
}

.wrapper_right h2 {
    font-size: 40px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    color: #1ca95a;
    font-style: italic;
}

.btn_danger {
    background-color: #f4524d !important;
    padding: 9px 12px 9px;
    border: none;
    outline: none !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
    transition: all .2s ease-in-out;
}

.btn_danger:hover {
    color: #fff;
    background-color: #fe6c61;
    border: none;
    background-position: 100% 0;
    background-image: linear-gradient(to right, #f4524d 0%, #fe6c61 50%, #f4524d 100%);
}

.wrapper_right .wgt_wrapper p {
    text-align: justify;
    color: #212529;
    font-weight: 400;
}


/* Middle_content_why */

.Middle_content_why {
    background-image: url('https://decalphuongnam.com/wp-content/uploads/2019/12/background-content.jpg');
    background-size: cover;
    min-height: 420px !important;
}

.khoang_cach {
    padding: 15px;
}

.Middle_content .GT_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.Middle_content .GT_column-inner .column_gt {
    width: 100% !important;
    min-height: 14px;
    background: 0 repeat-x 0 repeat-x url('data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ebebeb%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E') !important;
}

.content_img_fifuage_element .content_fifuage_icon {
    border: 1px solid gray;
    background-color: white;
    height: 204px;
    position: relative;
    max-width: 100%;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one i {
    color: #1e73be;
    font-size: 65px;
    letter-spacing: 2px;
    position: absolute;
    top: 18px;
    left: 109px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one h5 {
    color: #dd3333;
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 129px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-20 {
    color: #dd3333;
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 121px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1500 {
    color: #dd3333;
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 94px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1000 {
    color: #dd3333;
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 95px;
    left: 94px;
}

.content_img_fifuage_element .content_fifuage_icon .counter_content {
    background-color: #f9b701 !important;
    padding: 13px;
    position: inherit;
    bottom: -77%;
}

.content_img_fifuage_element .content_fifuage_icon .counter_content span {
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}

.btn-warning {
    color: #212529;
    background-color: #f9ab00 !important;
    border-color: #f9ab00 !important;
}


/* product_gird cach nhiet */

.product_gird .product_item {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 285px;
}

.product_gird .product_item {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 20px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/*product_gird danh cho height dai  */

.product_gird .product_item_height {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
    height: 385px;
    transition: 0.5s;
}

.product_gird .product_item_height .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_height .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 20px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}

.product_gird .product_item_height:hover {
    box-shadow: 0 0 10px #0000001f;
}


/*  */


/* btn see more */

.see_more button a {
    text-decoration: none !important;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}


/* product_item_height_UV */

.product_gird .product_item_height_UV {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
    height: 490px;
    transition: 0.5s;
}

.product_gird .product_item_height_UV .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_height_UV .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 20px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}

.product_gird .product_item_height_UV:hover {
    box-shadow: 0 0 10px #0000001f;
}

.see_more .btn-warning {
    padding: 6px 8px 6px !important;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;
}

.see_more .btn-warning i {
    margin: -2px;
}


/*  */


/* product_item_oto */

.product_gird .product_item_oto {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
    height: 280px;
}

.product_gird .product_item_oto {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_oto:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_oto .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.project-mt {
    margin-top: 30px;
}

.product_gird .product_item_oto .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 20px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* product_gird.product_item_oto */

.product_gird .product_item_oto {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 5px;
    height: 290px;
}

.product_gird .product_item_oto {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_oto:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_oto .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_oto .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 20px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/* decal */

.product_gird .product_item_decal {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 370px;
}

.product_gird .product_item_decal {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_decal:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_decal .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_decal .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* decal t57 */

.product_gird .product_item_T57 {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 320px;
}

.product_gird .product_item_T57 {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_T57:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_T57 .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_T57 .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* T48 */

.product_gird .product_item_T48 {
    background: #f7f7f7 !important;
    border-width: 2px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 395px;
}

.product_gird .product_item_T48 {
    border: 1px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_T48:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_T48 .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_T48 .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/* Phan quang */

.product_gird .product_item_REFLECTIVE {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 360px;
}

.product_gird .product_item_REFLECTIVE {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_REFLECTIVE:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_REFLECTIVE .product_thump img {
    max-width: 100%;
    height: 267px;
}

.product_gird .product_item_REFLECTIVE .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_REFLECTIVE .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* Giay dan kinh mo */

.product_gird .product_item_BlurryGlass {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 300px;
}

.product_gird .product_item_BlurryGlass {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_BlurryGlass:hover {
    box-shadow: 0 0 10px #0000001f;
}


/* .product_gird .product_item_BlurryGlass .product_thump img
{
    max-width: 100%;
    height: 267px;
} */

.product_gird .product_item_BlurryGlass .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_BlurryGlass .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/*  */


/* Giay kin mo so 22 */

.product_gird .product_item_BlurryGlass22 {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 280px;
}

.product_gird .product_item_BlurryGlass22 {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_BlurryGlass22:hover {
    box-shadow: 0 0 10px #0000001f;
}


/* .product_gird .product_item_BlurryGlass22 .product_thump img
{
    max-width: 100%;
    height: 267px;
} */

.product_gird .product_item_BlurryGlass22 .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_BlurryGlass22 .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/* Sunscreen Siver_gold */

.product_gird .product_item_Siver_gold {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 310px;
}

.product_gird .product_item_Siver_gold {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_Siver_gold:hover {
    box-shadow: 0 0 10px #0000001f;
}


/* .product_gird .product_item_Siver_gold .product_thump img
{
    max-width: 100%;
    height: 267px;
} */

.product_gird .product_item_Siver_gold .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_Siver_gold .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/* Sunscreen  */

.product_gird .product_item_Sunscreen {
    background: #f7f7f7 !important;
    border-width: 4px;
    border-color: #ebebeb;
    border-style: solid;
    /* padding: 5px; */
    height: 450px;
}

.product_gird .product_item_Sunscreen {
    border: 8px solid #f7f7f7;
    transition: 0.5s;
}

.product_gird .product_item_Sunscreen:hover {
    box-shadow: 0 0 10px #0000001f;
}

.product_gird .product_item_Sunscreen .product_thump img {
    max-width: 100%;
    height: 361px !important;
}

.product_gird .product_item_Sunscreen .product_thump .product_title a {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    text-decoration: none;
}

.product_gird .product_item_Sunscreen .product_thump .product_price span {
    color: #dc3545!important;
    font-size: 23px;
    font-weight: 400;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}


/* Project_Villa */


/* .Project_Villa.product_item
{
    border: 8px solid #f7f7f7;
} */

.Project_Villa .Project_item .Project_detail h4 {
    background-color: #f9ab00;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    transition: 0.5s;
}

.Project_Villa .Project_item:hover .Project_detail h4 {
    box-shadow: 0px 0px 30px #0c02021f;
}


/* Du an */


/* .Content_Advisory .new_item_Advisory 
{
    border: 1px solid black;
} */

.data-slick {
    outline: none !important;
}

.slideshow {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 100%;
}

.slideshow * {
    outline: none;
}

.slideshow .slider-track {
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
    height: 100%;
    position: relative;
    z-index: 1;
}

.slideshow .item img {
    width: 100%;
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.slideshow .item.slick-active img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cssAnimation 8s 1 ease-in-out forwards;
    animation: cssAnimation 8s 1 ease-in-out forwards;
}

.text-primaryy {
    color: #003882 !important;
}

@media(min-width: 375px) and (max-width: 767px) {
    /* top_menu */
    .tb_left li .tbr-info a {
        display: none;
    }
    /* Middle_content_why */
    .content_img_fifuage_element .content_fifuage_icon {
        border: 1px solid gray;
        background-color: white;
        height: 204px;
        position: relative;
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* product_gird cach nhiet */
    .product_gird .product_item {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 218px;
    }
    /* product_gird cach nhiet _height */
    .product_gird .product_item_height {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 277px;
        margin-bottom: 20px;
    }
    /* product_item_oto */
    .product_gird .product_item_oto {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 248px;
        margin-bottom: 20px;
    }
    /* product_item_height_UV */
    .product_gird .product_item_height_UV {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 320px;
    }
    /* decal */
    .product_gird .product_item_decal {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 268px;
        margin-bottom: 20px;
    }
    /* decal t57 */
    .product_gird .product_item_T57 {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 245px;
    }
    /* T48 */
    .product_gird .product_item_T48 {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 281px;
    }
    /* Phan quang */
    .product_gird .product_item_REFLECTIVE {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 375px;
        margin-bottom: 20px;
    }
    /* Sunscreen Siver_gold */
    .product_gird .product_item_Siver_gold {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 225px;
    }
    /* Giay dan kinh mo */
    .product_gird .product_item_BlurryGlass {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 222px;
        margin-bottom: 20px;
    }
    /* Sunscreen  */
    .product_gird .product_item_Sunscreen {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 468px;
        margin-bottom: 20px;
    }
}

@media(min-width: 768px) and (max-width: 1025px) {
    /* icon-why */
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one i {
        color: #1e73be;
        font-size: 65px;
        letter-spacing: 2px;
        position: absolute;
        top: 18px;
        left: 37px;
    }
    /*  */
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one h5 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 56px;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-20 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 47px;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1500 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 23px;
    }
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one .counter-number-1000 {
        color: #dd3333;
        font-size: 40px;
        line-height: 1;
        position: absolute;
        top: 95px;
        left: 23px;
    }
    /* product_gird cach nhiet */
    .product_gird .product_item {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 306px;
        margin-bottom: 20px;
    }
    /* product_gird cach nhiet _height */
    .product_gird .product_item_height {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 423px;
        margin-bottom: 20px;
    }
    /* product_item_oto */
    .product_gird .product_item_oto {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 317px;
        margin-bottom: 20px;
    }
    /* product_item_height_UV */
    .product_gird .product_item_height_UV {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 5px;
        height: 509px;
    }
    /* decal */
    .product_gird .product_item_decal {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 398px;
        margin-bottom: 20px;
    }
    /* decal t57 */
    .product_gird .product_item_T57 {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 353px;
    }
    /* T48 */
    .product_gird .product_item_T48 {
        background: #f7f7f7 !important;
        border-width: 2px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 431px;
    }
    /* Phan quang */
    .product_gird .product_item_REFLECTIVE {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 355px;
        margin-bottom: 20px;
    }
    /* Sunscreen Siver_gold */
    .product_gird .product_item_Siver_gold {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        /* padding: 5px; */
        height: 338px;
    }
    /* Giay dan kinh mo */
    .product_gird .product_item_BlurryGlass {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 329px;
        margin-bottom: 20px;
    }
    /* Sunscreen  */
    .product_gird .product_item_Sunscreen {
        background: #f7f7f7 !important;
        border-width: 4px;
        border-color: #ebebeb;
        border-style: solid;
        height: 447px;
        margin-bottom: 20px;
    }
    .project-mt {
        margin-top: 20px;
    }
}


/* @media(min-width:768px) and (max-width: 1025px)
{
    .content_img_fifuage_element .content_fifuage_icon .counter_icon_one i
{
    color: #1e73be;
    font-size: 65px;
    letter-spacing: 2px;
    position: absolute;
    top: 18px;
    left: 67px;
} */


/* slickslider */

.Advisory_thump .data-slick .slick-prev,
.Advisory_thump .data-slick .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: unset;
    height: unset;
    padding: 0;
    border: none;
    outline: none;
    background-color: #265ca8;
    padding: 10px;
    border-radius: 50%;
}


/* footer */

.empty-space {
    height: 35px;
}

.footer {
    background-color: #1e73be;
}

.footer .top-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0px;
}

.footer .text-uppercase {
    color: #fff;
    font-size: 18px;
    margin-top: 4px;
}

.footer .address input {
    width: 100%;
    padding: 6px;
    color: #6c757d;
}

.footer .send input {
    padding: 5px;
    color: black;
    font-weight: 500;
}

.wrapper {
    background-color: #003882 !important;
}

.wrapper .row {
    max-width: 1285px;
    margin: auto;
}

.wrapper .container {
    padding-bottom: 70px;
}

.wrapper .title {
    margin-top: 30px;
}

.wrapper h3 {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #f9ab00;
}

.wrapper .tree {
    display: flex;
    margin-top: 10px;
}

.wrapper .tree .square {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #ffc107;
    display: inline-block;
}

.wrapper .tree .horizontal {
    position: relative;
    top: 50%;
    width: 70px;
    height: 5px;
    height: 2px;
    margin-top: 4px;
    margin-left: 8px;
    background-color: white;
}

.wrapper .right ul li {
    color: #ececec;
    font-weight: 500;
    margin-left: 14px;
}

.wrapper .right ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.wrapper .right ul {
    margin-top: 20px;
    line-height: 28px;
}

.wrapper p {
    color: #ececec;
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
}

.wrapper .one li {
    color: #ececec;
    font-weight: 500;
    margin-bottom: 16px;
}

.wrapper .two li {
    color: #ececec;
    font-weight: 500;
}

.wrapper .two .first {
    display: flex;
}

.wrapper .two .first i {
    margin-right: 15px;
    margin-top: 10px;
}

.wrapper .two .second {
    display: flex;
}

.wrapper .two .second i {
    margin-right: 15px;
    margin-top: -4px;
}

.wrapper .two .threed {
    display: flex;
}

.wrapper .two .threed i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one div {
    display: flex;
}

.wrapper .one i {
    width: 30px;
    height: 30px;
    border: 1px solid #003882;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: white;
    color: #888;
}

.wrapper .one .first i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one .second i {
    margin-right: 15px;
    margin-top: 6px;
}

.wrapper .one .threed i {
    margin-right: 15px;
    margin-top: -5px;
}

.wrapper .one .four i {
    margin-right: 15px;
    margin-top: -2px;
}

.wrapper .two i {
    width: 30px;
    height: 30px;
    border: 1px solid #003882;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: white;
    color: #888;
}

.wrapper .two div {
    margin: 15px 0px;
}

.wrapper li a {
    color: #ececec;
    text-decoration: none;
}

.bot-footer {
    background-color: #343a40;
}

.bot-footer .text-white {
    padding: 10px;
}

.bot-footer small {
    font-size: 85%;
    font-weight: 400;
}

.bot-footer .icon {
    display: flex;
    padding: 0px 10p;
    color: wheat;
}

.bot-footer .icon .fb i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 9px;
    background-color: #4267B2;
    color: white;
    text-align: center;
}

.bot-footer .icon .gg i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 5px;
    background-color: #db4437;
    color: white;
    text-align: center;
}

.bot-footer .icon .youtube i {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #343a40;
    border-radius: 50%;
    padding: 9px 6px;
    background-color: red;
    color: white;
    text-align: center;
}

.bot-footer a {
    padding: 1px;
}


/*  */